body {
    display: grid;
    grid-template-rows: 170px auto 170px;
    gap: 20px;
}

header {
    border: 3px solid rgb(69, 228, 228);
}

main {
    border: 3px solid rgb(51, 106, 255);
}
  
footer {
    border: 3px solid orange;
}