body {
    display: grid;
    grid-template-rows: 170px auto 170px;
    gap: 20px;
}

header {
    border: 3px solid rgb(69, 228, 228);
}

main {
    /* border: 3px solid rgb(51, 106, 255); */
}

p {
    font-size: 1.2em;
    font-weight: lighter;
    margin: 2em 0;
    color: rgb(133, 133, 133);
}
  
footer {
    border: 3px solid orange;
}

.article-title {
    /* font-family: 'Anton', sans-serif; */
    font-family: 'Francois One', sans-serif;
    font-size: 2.65em;
    letter-spacing: -.015em;
    color: rgb(35, 35, 35);
}

.post-info {    
    display: flex;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8725em;
    font-weight: normal;
    text-transform: uppercase;
    color: rgb(187, 187, 187);
}

.post-date {
    flex: 2;
    font-family: 'Anaheim', sans-serif;
}

.printer-icon {
    width: 13px;
    height: 10px;
    margin: 4px 3px 0px 0;
}

.printer-text {
    font-family: 'Anaheim', sans-serif;
}

.ingredients-container { 
    display: grid;
    grid-template-columns: repeat(2, 35%);
    justify-content: space-around;
    background-image: url('../assets/list-bg.png');
    background-repeat: no-repeat;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.25em;
    line-height: 1.55em;
    color: rgb(133, 133, 133);
    padding: 39px;
    height: 300px;
}